.wrapper {
    margin-top: 4em;
    text-align: center;

    &-h1 {
        margin: auto;
        margin-bottom: 10px;
        width: 70%;
        font-size: 5.5rem;
        font-weight: 700;
        line-height: 1em;
    }

    &-p {
        margin: auto;
        margin-bottom: 1em;
        margin-top: 2em;
        width: 50%;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.5em;
    }
}