.forum {
    &-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        margin-top: 50px;

        &-subject {
            width: 70%;
            background-color: #B3A7D6;
            border-radius: 10px;

            &-h2 {
                margin: 15px 0px 0px 30px;
                padding: 20px;
                background-color: #FDECD6;
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
                border-radius: 15% 0% 15% 0%;
                font-weight: 700;
            }
        }

        &-discussions {
            width: 25%;
            background-color: #B3A7D6;
            border-radius: 10px;

            &-h2 {
                margin: 15px 0px 0px 30px;
                padding: 20px;
                background-color: #FDECD6;
                box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
                border-radius: 15% 0% 15% 0%;
                font-weight: 700;
            }
        }
    }
}